.GameSettings {
  flex-shrink: 0;

  .sort-cards, .card-quality {
    padding-top: 10px;

    > div {
      display: flex;
      flex-wrap: wrap;

      label {
        background: var(--foreground-secondary);
        padding: 3px 5px 0;
        border: solid var(--foreground-primary) 1px;
        margin-right: 5px;

        display: flex;
        justify-content: flex-start;


        input {
          display: none;
        }

        &.active {
          background: #3a87e5;
          border: solid var(--foreground-secondary) 1px;
          & > * {
              color: var(--foreground-primary);
          }
        }
        div {
          color: var(--foreground-contrast);

        }
      }
    }
  }

  .cards-language {
    padding-top: 5px;
  }
}
