.draft-container {
    width: 100%;
    height: 100%;
}

.primary-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primary-frame > fieldset {
    width: 99%;
    min-height: 550px;
    margin-bottom: 10px;
}
.pack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.primary-frame > :first-child {
    margin-top: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100%;
}
.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column {
    border: var(--foreground-primary) solid 2px ;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.column .faux-card {
    position: relative;
    cursor: grab;
    margin: 0;
    margin-bottom: -220px;
    transition: all 0.25s ease-in 0s;
}
.column .faux-card:hover {
    margin-bottom: 0px;
    transition: all 0.2s ease-out 0s;
    background-color: chartreuse;
}

.drawer {
    top: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    z-index: 20;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}
.drawer-handle {
    display: flex;
    flex-direction: column;
}
.drawer-handle button {
    margin-top: 20px;
    margin-right: -5px;
    height: 3rem;
    font-size: 1.5rem;
    transform: rotate(-90deg);
}
.drawer-inner {
    /* min-width: 300px; */
    min-width: calc(var(--card-width) + 20px);
    height: 100%;
}
.side {
    background-color: darkblue;
    color: ghostwhite;
    padding: 10px;
}
.burn {
    background-color: coral;
}
.chatski {
    background-color: burlywood;
}
.faux-card {
    background-color: royalblue;
    height: var(--card-height);
    width: var(--card-width);
    margin: 10px;
    border-radius: 8px;
}
