.Version {
  flex-grow: 1;
  color: var(--foreground-primary);

  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  text-align: center;
  align-content: end;

  a {

    &.code {
      text-decoration: none;
    }
  }

  code {
    font-size: 14px;
    padding: 2px 4px;
    border: 1px solid gainsboro;

    &:hover {
      color: #fff;
      background: var(--foreground-tertiary);
      border: 1px solid var(--foreground-tertiary);
    }
  }

  span.date {
    font-size: 14px;
    color: #555;
  }
}
